In [1]:
#Importamos librerías 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import datetime

In [2]:
#Leemos el primer archivo con los datos meteorológicos
df1 = pd.DataFrame( pd.read_csv("flujos-vid-2018.csv", engine="python" ) )
df1.head()

,Year,DoY,Hour,NEE,LE,H,Rg,Tair,Tsoil,rH,...,Tsoil_fmeth,Tsoil_fwin,PotRad,FP_NEEnight,FP_Temp,E_0,R_ref,Reco,GPP_f,GPP_fqc
0,--,--,--,umolm-2s-1,Wm-2,Wm-2,Wm-2,degC,degC,%,...,-,days,W_m-2,umolm-2s-1,degC,degK,umolm-2s-1,umolm-2s-1,umolm-2s-1,-
1,2018,7,0.5,2.56,11.52,-20.04,-0.87,16.51,20.99,43.83,...,-9999,-9999,0,-9999,16.51,207.66,0.92767,1.00713,-1.0729,1
2,2018,7,1,4.07,15.11,-7.34,-0.97,16.61,21.05,46.82,...,-9999,-9999,0,-9999,16.61,207.66,0.92767,1.01249,-9.62E-01,1
3,2018,7,1.5,0.92,8.61,-9.76,-0.96,16.07,21.09,46.65,...,-9999,-9999,0,-9999,16.07,207.66,0.92767,0.98371,-1.1643,1
4,2018,7,2,0.41,1.93,-8.55,-2.06,16.06,21.09,46.27,...,-9999,-9999,0,-9999,16.06,207.66,0.92767,0.98318,-1.1648,1

In [3]:
df1.dtypes

Year             object
DoY              object
Hour             object
NEE              object
LE               object
H                object
Rg               object
Tair             object
Tsoil            object
rH               object
VPD              object
Ustar            object
Ustar_Thres      object
Ustar_fqc        object
NEE_orig         object
NEE_f            object
NEE_fqc          object
NEE_fall         object
NEE_fall_qc      object
NEE_fnum         object
NEE_fsd          object
NEE_fmeth        object
NEE_fwin         object
LE_orig          object
LE_f             object
LE_fqc           object
LE_fall          object
LE_fall_qc       object
LE_fnum          object
LE_fsd           object
                  ...
rH_fnum          object
rH_fsd           object
rH_fmeth         object
rH_fwin          object
Tair_orig        object
Tair_f           object
Tair_fqc         object
Tair_fall        object
Tair_fall_qc     object
Tair_fnum        object
Tair_fsd         object
Tair_fmeth       object
Tair_fwin        object
Tsoil_orig       object
Tsoil_f          object
Tsoil_fqc        object
Tsoil_fall       object
Tsoil_fall_qc    object
Tsoil_fnum       object
Tsoil_fsd        object
Tsoil_fmeth      object
Tsoil_fwin       object
PotRad           object
FP_NEEnight      object
FP_Temp          object
E_0              object
R_ref            object
Reco             object
GPP_f            object
GPP_fqc          object
Length: 94, dtype: object

In [5]:
df1 = df1.filter(['Year','DoY','Hour','Rg_f','LE_f','H_f'],axis=1)
df1.tail()

       Year  DoY  Hour   Rg_f   LE_f    H_f
17228  2018  365    22  -1.93   2.79  -0.75
17229  2018  365  22.5     -2   0.63  -3.72
17230  2018  365    23  -2.11   1.06  -3.49
17231  2018  365  23.5  -1.92  -0.46  -9.24
17232  2018  365    24  -2.64  -2.29  27.24